<!DOCTYPE html>
html(lang="en")
  include partials/header
  body.login

    .contenedor-formulario
      h1= nombrePagina
      p Agrega tu nueva contraseña

      include partials/mensajes
                
      form.caja-login(method="post")
        .campo
          label(for="password") Password
          input(type="password" name="password" placeholder="Nuevo password" required)
        .campo.enviar
          input.boton(type="submit" value="Reestablecer contraseña")
