<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./email.css

  body
    h2 Reestablecer Password
    p Hola, solicitaste reestablecer tu contraseña, has click en el siguiente enlace para hacerlo. Este enlace es temporal y una vez vencido tienes que volver a solicitarlo
    a(href=`${resetUrl}`) Resetear contraseña
    p Si no puedes acceder a este enlace, visita #{resetUrl}
    p si no has solicitado el cambio de tu contraseña ignora, este correo